<div class="container">
  <ul>
    <!-- <li ng-repeat="name in names track by $index"> {{name}} login</li> -->
    <!-- <li ng-repeat="name in names track by $index"> {{user.name}} </li> -->
    <li ng-repeat="msg in messages track by $index"> {{msg.user}}{{msg.msg}}</li>
    <!-- <li ng-repeat="name in names "> {{user.name}} </li> -->
    <!-- <li ng-repeat="name in names track by $index"> {{user.name}} </li> -->


<!-- {{user.name}} -->
  </ul>
  <!-- <h1 ng-repeat="name in names track by $index">{{name}} says:></h1> -->
  <form novalidate name="signupForm" ng-submit="send()">
    <div class="form-group">
<div class="conatiner">
  <div class="row" >
    <div class="col-md-3">
    <label>username</label>
    <ul>
      <!-- <li ng-repeat="name in names track by $index"> {{user.name}} </li> -->
      <li ng-repeat="name in names track by $index"> {{user.name}} </li>

     <!-- <li name="name" ng-model="names" ng-repeat="name in names ">{{user.name}}</li> -->
   </ul>
   </div>
   <div class="col-md-9">
     <label>Message</label>
     <textarea name="name" ng-model="message" class="form-control" rows="8"  cols="80"></textarea>
   </div>
   </div>
 </div>
 </div>

 <div class="container">


<div class="btn-group">
     <div class="row">
       <div class="col-md-8">
    <button  class="btn btn-primary" >Send</button>

    </div>
  </div>
  </div>
</div>
  </form>
</div>
